@model IEnumerable<RESERVATION.Models.T_RESERVATION>

@{
    ViewData["Title"] = "Index";
}

<h1>予約状況</h1>


<div class="w-100 overflow-auto">


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coursem_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cource_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.option_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.paymentIntentid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calendarid)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.update)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* @Html.DisplayFor(modelItem => item.date) *@
                    @{
                        var date = (DateTime)item.date;
                    }
                        @date.Year 年 @date.Month 月 @date.Day 日
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coursem_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cource_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.option_id)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.paymentIntentid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calendarid)
            </td> *@
            <td>
                    @{
                        var date1 = (DateTime)item.update;
                    }
                        @date1.Year 年 @date1.Month 月 @date1.Day 日
                @* @Html.DisplayFor(modelItem => item.update) *@
            </td>
     @*        <td>
                <a asp-action="Edit" asp-route-id="@item.reservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.reservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.reservationId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
</div>