@model RESERVATION.Models.T_OPTION

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>オプション</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.optionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.optionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alertMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alertMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
