
@{
    ViewData["Title"] = "Home Page";
}
@model RESERVATION.Models.DateViewModel

<div class="text-center">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectdate"></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">戻る</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="p20">●受付中 ×締め切り</h4>
                    <form asp-action="Course" id="modal_form">
                        <input type="hidden" asp-for="@Model.res_date" />
                        <select asp-for="@Model.coursem_id" id="modal_select" >
                        @foreach (var item in (List<T_COURSEM>)ViewData["coursemList"])
                        {
                            <option value="@item.Id" >@item.Name</option>
                        }
                        </select>
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
                </div>
            </div>
        </div>
    </div>


    <div id="calendar">
        <div class="back">
            <h4 class="title1">人宿サウナの予約システムです。</h4>
            <h5 class="title2">「予約日時」の選択</h5>
            <div id="total">
                <div id="total">
                    <button type="button" id="this">今月</button>
                    <div class="checkbtn">
                        <button type="button" id="prev">&lt;</button>
                        <button type="button" id="next">&gt;</button>
                    </div>
                </div>
                <div class="checkbtn">
                    <div>
                        <button type="button" id="week" >週</button>

                    </div>
                    <div>
                        <button type="button" id="month" >月</button>

                    </div>
                </div>
            </div>
            <div class="header">
                <div class="font22">&laquo;<span id="prevBtn"></span></div>
                <h4 id="monthYear"></h4>
                <div class="font22"><span id="nextBtn"></span>&raquo;</div>
            </div>
            <h5>●受付中 ×締め切り</h5>
            <div id="calendarBody" class="calendar-grid"></div>

            <div id="weekBody" class="week-grid"> </div>
            <div id="weekBody1" class="week-grid">
                @foreach (var item in (List<T_COURSEM>)ViewData["coursemList"])
                    {
                    <div class="day-week">
                <a class="nav-link text-white" asp-action="Course" asp-area="" asp-controller="Home" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                    
                    </div>
                    @for(var i = 0; i < 7; i ++){
                        <div class="day-cell">
                            o
                        </div>
                    }                    
                }
            </div>
        </div>
    </div>

</div>
