
@{
    ViewData["Title"] = "Home Page";

}
@model RESERVATION.Models.DateViewModel;
@using System.Security.Claims;
@using RESERVATION.Models;

@* <div class="jumbotron">
    <div class="panel panel-default center-block">
        <div class="panel panel-heading">
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-8">
                    <p>
                        <img src="@User.FindFirst("picture")?.Value" width="32" height="32" alt="User Image" />
                        @User.Identity.Name (@User.FindFirst(ClaimTypes.Email)?.Value)
                    </p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <a class="btn btn-default" role="button" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="panel panel-body">
            <h2>プッシュメッセージ送信テスト</h2>
            <form role="form" asp-area="" asp-controller="Home" asp-action="PushMessage" method="post">
                <input type="text" name="pushMessage" class="form-control" placeholder="プッシュするメッセージを入力してください">
                <button type="submit" class="btn btn-default">送信</button>
            </form>
        </div>
    </div>
</div> *@
<div class="text-center">
   
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectdate"></h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">戻る</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="p20">●受付中 ×締め切り</h4>
                    <form asp-action="Course" id="modal_form">
                        <input type="hidden" asp-for="@Model.res_date" id="hidden1"/>
                        <div>
                        <input type="hidden" asp-for="@Model.coursem_id" id="modal_select" />
                        @foreach (var item in (List<T_COURSEM>)ViewData["coursemList"])
                        {
                                <div value="@item.Id" class="s_coursem schedule-div">
                                    <input type="hidden" value="@item.Id" class="s_date" />
                                @item.Name 
                                    <span class="status" id="reservationStatus_@item.Id" >
                                        ●
                                    </span>
                            </div>
                        }
                        </div>

                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
                </div>
            </div>
        </div>
    </div>


    <div id="calendar">
        <div class="back">
            <h4 class="title1">人宿サウナの予約システムです。</h4>
            <h5 class="title2">「予約日時」の選択</h5>
            <div id="total">
                <div id="total">
                    <button type="button" id="this">今月</button>
                    <div class="checkbtn">
                        <button type="button" id="prev">&lt;</button>
                        <button type="button" id="next">&gt;</button>
                    </div>
                </div>
                <div class="checkbtn">
                    <div>
                        <button type="button" id="week" >週</button>

                    </div>
                    <div>
                        <button type="button" id="month" >月</button>

                    </div>
                </div>
            </div>
            <div class="header">
                <div class="font22">&laquo;<span id="prevBtn"></span></div>
                <h4 id="monthYear"></h4>
                <div class="font22"><span id="nextBtn"></span>&raquo;</div>
            </div>
            <h5>●受付中 ×締め切り</h5>
            <div id="calendarBody" class="calendar-grid"></div>

            <div id="weekBody" class="week-grid"> </div>
                <form asp-action="Course" id="modal_form">
            <div id="weekBody1" >
                @foreach (var item in (List<T_COURSEM>)ViewData["coursemList"])
                    {
                        <div class="week-grid">
                    <div class="day-week">
                            @Html.DisplayFor(modelItem => item.Name)
                    </div>
                            <input type="hidden" asp-for="@Model.res_date" class="selectDate" id="hidden1" />
                            <input type="hidden" asp-for="@Model.coursem_id" id="modal_select" />
                    @for(var i = 0; i < 7; i ++){
                                <span class="day-cell">
                                    <input type="hidden"  class="selectDate" value='@i' />
                                    <input type="hidden" value='@item.Id' class="select_id" />
                                    @{

                                        var reservations = ViewData["reservation"] as IEnumerable<T_RESERVATION>;
                                        var id = item.Id;
                                        var date = i.ToString();   
                                        var result = reservations.Where(r => r.date == Model.res_date && r.coursem_id == id );
                                        

                                    }

                                    @if(result != null)
                                    {

                                        <span class="">●</span>
                                    }
                                    else
                                    {
                                        <span>
                                            ×</span>
                                    }
                                </span>
                            }                    
                    </div>
                }
            </div>
                </form>
        </div>
    </div>

</div>
