@{
    ViewData["Title"] = "Privacy Policy";
}
@model RESERVATION.Models.T_RESERVATION
<img src="~/images/back.png" class="back1"/>
<div>
    <h3 class="text-center py-5 text-black-50">現在の予約状況です</h3>
    <hr class="w-25 m-auto py-5 "/>
    <h3 class="text-black-50">予約日時:</h3>
    @if (ViewData["reservation"] != null)
    {
        @foreach (var item in (List<T_RESERVATION>)ViewData["reservation"])
        {
            <div value ="@item.reservationId" class="close-list">
                @{
                    var r_date = (DateTime) item.date;
                }

                <div class="py-2 font24 text-black-50">@r_date.Year 年 @r_date.Month 月 @r_date.Day 日 @item.coursem_id</div>
                <button onclick="refund('@item.reservationId')" class="btn btn-danger">キャンセル </button>
            </div>
        }
        <hr />
    }
    
</div>
<script>
    async function refund(paymentIntentId) {
        const response = await fetch("/Home/Refund", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'  // Add the Content-Type header
            },
            body: JSON.stringify(paymentIntentId)
        });

        if (response.ok) {
            const result = await response.text();
          //  alert(result); // Display a success message or perform additional actions
window.location.replace('/Home');
        } else {
            alert("Refund failed."); // Display an error message or perform additional error handling
        }
    }
</script>