@model RESERVATION.Models.T_COURSE

@{
    ViewData["Title"] = "Details";
}


<div>
    <h1 class="text-black">コース</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 text-black">
            @Html.DisplayNameFor(model => model.courceName)
        </dt>
        <dd class="col-sm-8 text-black">
            @Html.DisplayFor(model => model.courceName)
        </dd>
        <dt class="col-sm-4 text-black">
            @Html.DisplayNameFor(model => model.limitMinNum)
        </dt>
        <dd class="col-sm-8 text-black">
            @Html.DisplayFor(model => model.limitMinNum)
        </dd>
        <dt class="col-sm-4 text-black">
            @Html.DisplayNameFor(model => model.limitMaxNum)
        </dt>
        <dd class="col-sm-8 text-black">
            @Html.DisplayFor(model => model.limitMaxNum)
        </dd>
        <dt class="col-sm-4 text-black">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-8 text-black">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-4 text-black">
            @Html.DisplayNameFor(model => model.alertMessage)
        </dt>
        <dd class="col-sm-8 text-black">
            @Html.DisplayFor(model => model.alertMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.courceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
